<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.stepyen.xframedemo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.stepyen.xframe.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Arms 配置 -->
        <meta-data
            android:name="com.stepyen.xframedemo.app.GlobalConfiguration"
            android:value="ConfigModule"/>

        <activity android:name=".mvp.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.SimpleActivity"
            android:label="SimpleActivity"/>
        <activity
            android:name=".mvp.ui.activity.TestImageActivity"
            android:label="TestImageActivity"/>

        <activity
            android:name=".mvp.ui.activity.TestMVPActivity"
            android:label="TestMVPActivity"/>


    </application>

</manifest>